<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
        <mat-card>
            <mat-card-header>
                <mat-card-title> {{ dish.name | uppercase }} </mat-card-title>
            </mat-card-header>
            <img matCardImage src="{{BaseURL}}{{dish.image}}" alt="{{dish.name}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail',prev]"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <div fxFlex></div>
                <button mat-button [routerLink]="['/dishdetail',next]"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
        <mat-list>
            <h3>Comments</h3>
            <mat-list-item *ngFor="let item of dish.comments">
                <p matLine>{{ item.comment }}</p>
                <p matLine>{{ item.rating }} Stars</p>
                <p matLine>-- {{ item.author }} {{ item.date | date:'mediumDate' }}</p>
            </mat-list-item>
            <mat-list-item *ngIf="commentForm.valid && !commentForm.pristine">
                <p matLine>{{commentForm.value.comment}}</p>
                <p matLine>{{commentForm.value.rating}} Stars</p>
                <p matLine>--{{commentForm.value.author}} </p>
            </mat-list-item>
        </mat-list>

        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field class="full-width" dividerColor="{{formErrors.author ? 'warn':'primary'}}">
                    <input matInput formControlName="author" placeholder="Your Name" type="text" required>
                    <mat-hint>
                        <span [hidden]="!(formErrors.author)">
                                        {{formErrors.author}}
                                    </span>
                    </mat-hint>
                </mat-form-field>

                <span class="full-width">&nbsp;</span>
                <mat-slider formControlName="rating" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel" [tick-interval]="tickInterval" [(ngModel)]="value" [vertical]="vertical">
                </mat-slider>

                <mat-form-field class="full-width" dividerColor="{{formErrors.comment ? 'warn':'primary'}}">
                    <textarea matInput formControlName="comment" placeholder="Your Comment" rows="12" columns></textarea>
                    <mat-hint>
                        <span [hidden]="!(formErrors.comment)">
                                {{formErrors.comment}}
                            </span>
                    </mat-hint>
                </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
        </form>
    </div>
    <div [hidden]="dish || errMess">
        <mat-spinner [mode]="indeterminate">
        </mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
    </div>
</div>